<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>Surfboard Customs - Login</title>
</head>
<body>
	<div layout:fragment="content">
	<h2>Welcome! You must have an account with us to view your orders. Please login.</h2></br>
	<form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
		<table>
			<tr>
				<td>User Name: </td><td><input type="text" th:field="*{username}"></td>		
			</tr>
			<tr>
				<td>Password: </td><td><input type="password" th:field="*{password}"></td>		
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit" /></td>
			</tr>
		</table>
		<div th:if="${#fields.hasErrors('*')}">Please review the following errors: </div>
        <div th:each="err : ${#fields.errors('*')}">
            <span style="color:red" th:text="${err}" class="fieldError"></span>
        </div>
	</form>
	
</body>
</html>